
.brand {
	color: #1EB7C1;
}
/* 前台导航栏样式 */
.banner{
	height: 105px;
	margin: 0px 50px;
}
.banner > .logo {
	height: 105px;
}
.banner > .logo > img{
	padding-left:20px;
	width: 100%;
	height: 100%;
}
.banner > .navig {
	padding-top: 28px;
}
.content{
	margin-top:30px;
	height:auto;
	min-height: 1000px;
}
.content > div > .topic{
	min-height: 90px;
	margin-top:20px;
	border-bottom: 2px dashed;
    border-image: -webkit-linear-gradient( #5CD1FD, #C86DD7) 30 30;
    border-image: -moz-linear-gradient( #5CD1FD, #C86DD7) 30 30;
    border-image: linear-gradient(to bottom right, #5CD1FD, #C86DD7) 10 10;
}
.content > div > .topic > span{
	padding-right: 40px;
}
.content > div > .topic > h1{
	white-space: nowrap;
	 overflow: hidden;
	 text-overflow: ellipsis;
	 font-size: 20px;
}

.content > div > .fenye{
	text-align: center;
}

.right > .zxytags{
	margin-top:40px;
	margin-bottom:130px;
	padding-top:10px;
	padding-left:5px;
	font-size: 25px;
}
h2{
	text-align: center;
	margin-bottom: 35px;
	margin-top: 20px;
	font-size: 25px;
}
.right > .myProfile{
	
}

.right > .myProfile > .xinxi{
	/* padding-left:50px;
	padding-top:30px; */
	font-size: 30px;
	margin-left: 35px;
	line-height: 40px;
}

.footer{
	border-top: 3px #000 solid;
	text-align: center;
	font-size: 15px;
	padding-top: 10px;
	margin-top: 50px;
}
.table > caption{
	text-align: center;
}
.table > tbody > tr >td:nth-child(1) {
	text-align: right;
}
.table > tbody > tr >td:nth-child(2) {
	text-align: left;
}
.right > .bjtz{
    height: 50px;
}
.right > .bjtz::after{
    content:"";
	display:block;
	position:absolute;
	left:0px;
	top:0px;
	width:25%;
	height:120%;
	background: url("/image/zft.png") no-repeat;
	background-size: 100%;
	/* 伪类3D旋转 */
	animation :myfirst 10s infinite linear;
}
@keyframes myfirst{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
.list-group-item{
	font-size: 20px;
	padding: 5px 10px;
}	
.zxytags>.nav>li {
	font-size: 20px;
}
.navig > .nav>li {
	font-size: 14px;
}
.navSea{
	padding-top: 25px;
}
