<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="/js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/layer/layer.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/css/front/general.css"/>
<link rel="stylesheet" href="/css/admin/list.css"/>
<title></title>
</head>
<body>
	<div class="but">
	</div>
	<table class="table table-striped">
	  <caption>留言管理列表</caption>
	  <thead>
	    <tr>
	      <th width="10%">序号</th>
	      <th>昵称</th>
	      <th>IP</th>
	      <th>内容</th>
	      <th>操作</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<%for(mess in info.list){%>
		    <tr>
		      <td style="line-height: 45px;">${messLP.index}</td>
		      <td style="line-height: 45px;">${mess.name}</td>
		      <td style="line-height: 45px;">${mess.ip}</td>
		      <td style="line-height: 45px;">${mess.massage}</td>
		      <td style="line-height: 45px;">
		      	<button type="button" class="del btn-lg btn-danger" value="${mess.id}"><span class="glyphicon glyphicon-remove"></span> &nbsp;删除</button>
		      </td>
		    </tr>
		<%}%>
	  </tbody>
	  <tfoot>
	  	<tr>
	  		<td colspan = "8"><div class="fenye">
					<ul class="pagination">
						<%if(info.isHasPreviousPage){%>
						    <li><a href="/admin/messList?pageNum=${info.prePage}">&laquo;</a></li>
						<%}%>
						<%
						for(var i = 1;i<=info.pages;i++){%>
						    <li 
						    	<%if(i == info.pageNum){%>
						    		class="active"
								<%}%>
						    ><a href="/admin/messList?pageNum=${i}">${i}</a></li>
						<%}%>
						<%if(info.isHasNextPage){%>
						    <li><a href="/admin/messList?pageNum=${info.nextPage}">&raquo;</a></li>
						<%}%>
					</ul>
				</div></td>
	  	</tr>
	  </tfoot>
	</table>
</body>
<script type="text/javascript">
$(".del").click(function(){
	var id = $(this).val();
	layer.confirm('您确定要删除此标签吗？', {
		  btn: ['确定','取消'] //按钮
		}, function(){
			$.ajax({
	            type: "POST",
	            url: "/admin/delMess",
	            data:{"id":id},
	            dataType: "json",
	            success: function(data){
	            		if(data>0){
	            			layer.msg('删除成功！',{
	    	                    time:1000,
	    	                    end:function () {
	    	                    	window.location.href="/admin/messList"; 
	    	                    }
	    	            	})
	            		}else{
		                	layer.msg("删除失败！");
	            		}
	                 },
	            error:function(){
		            	layer.msg("网络超时，请重试！");
		            }
	        });
		}, function(){
		  layer.close();
		});
	
})
</script>
</html>